body {
    background: #111;
    color: white;
    font-family: Arial;
    padding: 20px;
}

input, button {
    margin: 5px;
    padding: 8px;
}

.beat {
    border: 1px solid #444;
    padding: 10px;
    margin: 10px 0;
}
